body {
	overflow-y: scroll;
	height: 100%;
	font-family: 'Roboto Condensed', sans-serif;
	background-color: #282828;
	margin: 0;
	list-style-type: none;
}

header {
	padding-bottom: 60px;
	padding-right: 10px;
	padding-top: 10px;
}

nav {
/*	background-color: grey;
*/	
	display: inline-block;
	float: right;
}

nav ul li{
	font-size: 18px;
	display: inline-block;
	list-style-type: none;
	padding: 0px 15px 0px 15px;
}

a {
	color: 	white;
	text-decoration: none;
}

footer {
	padding-top: 5px;
	color: white;
	background-color: none;
	text-align: left;
}

nav-bottom {
	display:  inline-block;
	text-align: center;
  font-size: 20px;
}

nav-bottom ul li {
	display: inline-block;
	list-style-type: none;
	background-color: none;
	padding:0px 10px 0px 10px;
}

img {
	display: block;
	max-height: auto;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 25px 20px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav-right {
  float: right;
}

#myVideo {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-width: 0px;

}

.promo-content {
	font-family: 'Roboto Condensed', sans-serif;
	position: absolute;
	color: white;
	top: 200px;
	left: 50px;
	/*margin-left: 75px;
	margin-top: 75px;*/
	font-size: 22px;
}

.promo-content-robot {
	font-family: 'Roboto Condensed', sans-serif;
	position: absolute;
	color: #0000FF;
	top: 400px;
	left: 80px;
	/*margin-left: 75px;
	margin-top: 75px;*/
	font-size: 25px;
}

.promo-content-quad {
  font-family: 'Roboto Condensed', sans-serif;
  position: absolute;
  color: white;
  top: 400px;
  left: 80px;
  /*margin-left: 75px;
  margin-top: 75px;*/
  font-size: 25px;
}

.promo-content-uarm {
	font-family: 'Roboto Condensed', sans-serif;
	position: absolute;
	color: black;
	top: 200px;
	left: 50px;
	/*margin-left: 75px;
	margin-top: 75px;*/
	font-size: 22px;
}

.promo-content-quad {
	font-family: 'Roboto Condensed', sans-serif;
	position: absolute;
	text-align: center;
	color: #FFFFFF
	top: 400px;
	left: 80px;
	font-size: 25px;
}

.about {
	font-family: Calibri;
	font-size: 20px;
	color: white;
	text-align: left;
	margin: 40px 40px 40px 60px;
}

.about-uarm {
	font-family: Calibri;
	font-size: 18px;
	color: white;
	text-align: left;
	margin: 40px 40px 40px 60px;
}

#ignus-performance {
	font-style: italic;
	font-family: Arial;
	font-size: 20px;
	color: grey;
  	position: absolute;
  	margin-top: -500px;
	margin-left: 70px;
	align-items: left;
}

#container {
   max-height: auto; 
   max-width: 35%;
   float: right;
   padding-right: 15px;
   padding-top: 30px;
}

#Copyright {
	display: inline-block;
	text-align: right;
	font-size: 18px;
}

#body-about {
	
	background-repeat: no-repeat;
	/*background-size: 300px 1000px;*/
}

.Text {
	font-size: 20px;
	color: white;
	text-align: center;
	margin-top: 200px;
	margin-bottom: 200px;
}

p-about {
	display: block;
	color: white;
	margin: 30px 475px 150px 20px;
	text-align: justify;
	font-size: 18px;
	/*background-image: url(./media/portrait.jpg)*/
}
